<h3 class="bg-info main-title">{{vm.bookData.name}}</h3>
<div class="input-group">
    <div class="input-group-addon"><i class="fa fa-book"></i></div>
    <input type="text" class="form-control" ng-model="vm.bookData.name" placeholder="Book name" ng-disabled="vm.editorDisabled">
</div>
<div class="input-group">
    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
    <input type="text" class="form-control" ng-model="vm.bookData.bought_on" placeholder="Bought date" ng-disabled="vm.editorDisabled">
</div>
<div class="input-group">
    <div class="input-group-addon"><i class="fa fa-tags"></i></div>
    <input type="text" class="form-control" ng-model="vm.bookData.category" placeholder="Category" ng-disabled="vm.editorDisabled">
</div>
<div class="input-group">
    <div class="input-group-addon"><i class="fa fa-file"></i></div>
    <input type="text" class="form-control" ng-model="vm.bookData.format" placeholder="Format" ng-disabled="vm.editorDisabled">
</div>
<div class="input-group">
    <div class="input-group-addon"><i class="fa fa-language"></i></div>
    <input type="text" class="form-control" ng-model="vm.bookData.language" placeholder="Language" ng-disabled="vm.editorDisabled">
</div>
<div class="input-group" ng-show="vm.editorDisabled">
    <div class="input-group-addon"><i class="fa fa-user"></i></div>
    <input type="text" class="form-control" placeholder="{{vm.bookData.author_id.name}}" ng-disabled="vm.editorDisabled">
</div>
<div class="form-group" ng-hide="vm.editorDisabled">
    <label>Author:</label>
    <select-collection-items collection="'author'" ng-model="vm.bookData.author_id" select-model="vm.bookData.author_id._id"></select-collection-items>
</div>
<div class="form-group">
    <label for="description">Description:</label>
    <textarea ng-model="vm.bookData.description" class="form-control" rows="3" id="description" ng-disabled="vm.editorDisabled"></textarea>
</div>
<div class="form-group">
    <label>Rating:</label>
    <star-rating score="vm.bookData.rating" ng-model="vm.bookData.rating" max="5" readonly="vm.editorDisabled"></star-rating>
</div>
<div class="pull-left">
    <button class="btn btn btn-warning fa fa-chevron-left" ui-sref="books-list">&nbsp;Back</button>
</div>
<div class="pull-right">
    <button ng-show="vm.editorDisabled" ng-click="vm.editorDisabled=!vm.editorDisabled" class="btn btn-primary fa fa-pencil">&nbsp;Edit</button>
    <button ng-hide="vm.editorDisabled" ng-click="vm.editorDisabled=!vm.editorDisabled" class="btn btn-danger fa fa-times">&nbsp;Cancel</button>
    <button ng-hide="vm.editorDisabled" ng-click="vm.saveBook()" class="btn btn-primary fa fa-save">&nbsp;Save</button>
</div>
