.main-title {
  padding: 10px;
}

.input-group {
  margin: 10px 0;
}
.rating > a {
  text-decoration: none;
}
.rating .rating-normal, .rating.rating-normal:hover {
  color: #000;
}
.rating .rating-active, .rating.rating-active:hover {
  color: #428bca;
  cursor: pointer;
}
