<h3 class="bg-info main-title">{{vm.authorName}}</h3>
<div ng-show="vm.editorEnabled">
    <label>Name: </label>
    <input ng-model="vm.author.name" placeholder="Author name">
</div>
<h5 class="main-title">Books</h5>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in vm.booksList | orderBy:'title'" ng-class-odd="'bg-info'">
                <td>{{$index + 1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.category}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pull-left">
    <button class="btn btn btn-warning fa fa-chevron-left" ui-sref="authors-list">&nbsp;Back</button>
</div>
<div class="pull-right">
    <button ng-hide="vm.editorEnabled" ng-click="vm.editorEnabled=!vm.editorEnabled" class="btn btn-primary fa fa-pencil">&nbsp;Edit</button>
    <div ng-show="vm.editorEnabled">
        <button ng-click="vm.editorEnabled=!vm.editorEnabled" class="btn btn-danger fa fa-times">&nbsp;Cancel</button>
        <button class="btn btn-primary fa fa-save" ng-click="vm.saveAuthor()">&nbsp;Save</button>
    </div>
</div>
