<h3 class="bg-info main-title">Authors</h3>
<author-create></author-create>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search authors" ng-model="search.$">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="bg-primary">
          <th ng-click="vm.sortType = 'name'; vm.sortReverse = !vm.sortReverse">
              Name
              <span ng-show="vm.sortType == 'name'">
                <span class="fa fa-caret-down pull-right" ng-show="!vm.sortReverse"></span>
                <span class="fa fa-caret-up pull-right" ng-show="vm.sortReverse"></span>
              </span>
          </th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="author in vm.authorsList | filter:search:strict | orderBy:vm.sortType:vm.sortReverse" ng-class-odd="'bg-info'">
            <td>{{author.name}}</td>
            <td>
                <button class="btn btn-primary fa fa-eye" ui-sref="author-info({ authorId: author._id, authorSlug: author.slug })">&nbsp;Show
                </button>
                <delete-item-button itemid="author._id" itemtype="'author'"></delete-item-button>
            </td>
        </tr>
    </table>
</div>
