<div class="modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<p ></p>
<div class="modal-body" ng-bind-html="modalOptions.bodyText | sanitize"></div>
<div class="modal-footer">
    <button class="btn btn btn-warning" data-dismiss="modal"
            data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}
    </button>

    <button ng-show="{{modalOptions.displayAction}}" class="btn btn-primary" data-dismiss="modal"
            data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}
    </button>
</div>
