<div>
  <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-book"></i></div>
      <input type="text" class="form-control" ng-model="vm.editBook.title" placeholder="book name">
  </div>
  <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-book"></i></div>
      <input type="text" class="form-control" ng-model="vm.editBook.slug" placeholder="book name" value="{{vm.editBook.title|slugify}}">
  </div>
    <select-authors-list ng-model="vm.editBook.author_id" select-model="vm.editBook.author_id" author-name="vm.editBook.author_id.name"></select-authors-list>
  <input ng-model="vm.editBook.bought_on" placeholder="bought date" pattern="dd-MM-yyyy">
</div>
