<div class="multiselect-parent btn-group dropdown-multiselect">
    <button type="button" class="dropdown-toggle" ng-class="settings.buttonClasses" ng-click="toggleDropdown()">{{getButtonText()}}&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-form" ng-style="{display: open ? 'block' : 'none', height : settings.scrollable ? settings.scrollableHeight : 'auto' }" style="overflow: scroll" >
        <li ng-hide="!settings.showCheckAll || settings.selectionLimit > 0">
            <a data-ng-click="selectAll()">
                <span class="glyphicon glyphicon-ok"></span>  {{texts.checkAll}}
            </a>
            <li ng-show="settings.showUncheckAll">
                <a data-ng-click="deselectAll();">
                    <span class="glyphicon glyphicon-remove"></span>   {{texts.uncheckAll}}
                </a>
            </li>
            <li ng-hide="(!settings.showCheckAll || settings.selectionLimit > 0) && !settings.showUncheckAll" class="divider"></li>
            <li ng-show="settings.enableSearch"><div class="dropdown-header">
                <input type="text" class="form-control" style="width: 100%;" ng-model="searchFilter" placeholder="{{texts.searchPlaceholder}}" />
            </li>
            <li ng-show="settings.enableSearch" class="divider"></li>

            <li role="presentation" ng-repeat="option in options | filter: searchFilter">
                <a role="menuitem" tabindex="-1" ng-click="setSelectedItem(getPropertyForObject(option,settings.idProp))">
                    <div class="checkbox">
                        <label><input class="checkboxInput" type="checkbox" ng-click="checkboxClick($event, getPropertyForObject(option,settings.idProp))" ng-checked="isChecked(getPropertyForObject(option,settings.idProp))" /> {{getPropertyForObject(option, settings.displayProp)}}</label>
                    </div>
                </a>
            </li>

            <li class="divider" ng-show="settings.selectionLimit > 1"></li>
            <li role="presentation" ng-show="settings.selectionLimit > 1">
                <a role="menuitem">{{selectedModel.length}} {{texts.selectionOf}} {{settings.selectionLimit}} {{texts.selectionCount}}</a>
            </li>
        </ul>
    </div>
