<h3 class="bg-info main-title">Books</h3>
<hr style="margin: 20px 0">
<button type="button" class="btn btn-primary fa-plus fa" ui-sref="book-create()"> Add a new book</button>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search books" ng-model="search.$">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="bg-primary">
            <th ng-click="vm.sortType = 'name'; vm.sortReverse = !vm.sortReverse">
                Title
                <span ng-show="vm.sortType == 'name'">
                    <span class="fa fa-caret-down pull-right" ng-show="!vm.sortReverse"></span>
                    <span class="fa fa-caret-up pull-right" ng-show="vm.sortReverse"></span>
                </span>
            </th>
            <th class="hidden-xs" ng-click="vm.sortType = 'author_id.name'; vm.sortReverse = !vm.sortReverse">
                Author
                <span ng-show="vm.sortType == 'author_id.name'">
                    <span ng-show="!vm.sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="vm.sortReverse" class="fa fa-caret-up pull-right"></span>
                </span>
            </th>
            <th class="hidden-xs" ng-click="vm.sortType = 'category'; vm.sortReverse = !vm.sortReverse">Category
                <span ng-show="vm.sortType == 'category'">
                    <span ng-show="!vm.sortReverse" class="fa fa-caret-down pull-right"></span>
                    <span ng-show="vm.sortReverse" class="fa fa-caret-up pull-right"></span>
                </span>
            </th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="book in vm.booksList | filter:search:strict | orderBy:vm.sortType:vm.sortReverse" ng-class-odd="'bg-info'">
            <td>{{book.name}}</td>
            <td class="hidden-xs">{{book.author_id.name}}</td>
            <td class="hidden-xs">{{book.category}}</td>
            <td>
                <info-item-button state="'book-info'" stateparams="{ bookId: book._id, bookSlug: book.slug }"></info-item-button>
                <delete-item-button itemid="book._id" itemtype="'book'"></delete-item-button>
            </td>
        </tr>
    </table>
</div>
