<h3 class="bg-info main-title">Books</h3>
<hr style="margin: 20px 0">
<button type="button" class="btn btn-primary fa-plus fa" ui-sref="book-create()"> Add a new book</button>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search books" ng-model="search.$">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="bg-primary">
            <th ng-click="vm.sortType = 'title'; vm.sortReverse = !vm.sortReverse">
                Title
                <span ng-show="vm.sortType == 'title'">
                  <span class="fa fa-caret-down pull-right" ng-show="!vm.sortReverse"></span>
                  <span class="fa fa-caret-up pull-right" ng-show="vm.sortReverse"></span>
                </span>
            </th>
            <th ng-click="vm.sortType = 'author'; vm.sortReverse = !vm.sortReverse">
              Author
              <span ng-show="vm.sortType == 'author'">
                <span ng-show="!vm.sortReverse" class="fa fa-caret-down pull-right"></span>
                <span ng-show="vm.sortReverse" class="fa fa-caret-up pull-right"></span>
              </span>
            </th>
            <th ng-click="vm.sortType = 'category'; vm.sortReverse = !vm.sortReverse">Category
              <span ng-show="vm.sortType == 'category'">
                <span ng-show="!vm.sortReverse" class="fa fa-caret-down pull-right"></span>
                <span ng-show="vm.sortReverse" class="fa fa-caret-up pull-right"></span>
              </span>
            </th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="book in vm.booksList | filter:search:strict | orderBy:vm.sortType:vm.sortReverse" ng-class-odd="'bg-info'">
            <td>{{book.title}}</td>
            <td>{{book.author_id.name}}</td>
            <td>{{book.category}}</td>
            <td>
                <button class="btn btn-primary fa fa-eye" ui-sref="book-info({ bookId: book._id, bookSlug: book.slug })">&nbsp;Show</button>
                <button class="btn btn-primary fa fa-pencil" ng-click="vm.editBook(book)">&nbsp;Edit</button>
                <button class="btn btn-danger fa fa-trash" ng-click="vm.deleteBook(book._id)">&nbsp;Delete</button>
            </td>
        </tr>
    </table>
</div>
